{% extends 'home/dashboard.html' %}
{% block title %}History{% endblock %}
{% block upload %}text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endblock %}
{% block auto_clustering %}text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endblock %}
{% block explore_topics %}text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100{% endblock %}
{% block history %}text-gray-100 bg-gray-700 bg-opacity-25{% endblock %}
{% block css %}
<style>
   
</style>
{% endblock %}
{% block body %}
{% comment %} edit below content to make a new page, keep rest contents same, to make the second ex- auto clustering link active, add the text-gray-100... classes of upload to auto clustering and add text-gray-500... classes to rest link blocks  {% endcomment %}
<div>Assistant</div>
{% comment %} edit till here to make a new page  {% endcomment %}
{% endblock %}
{% block js %}{% endblock %}